/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Aa]uto[Bb]uild/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

/Assets/FR2_Cache.asset
/Assets/FR2_Cache.asset.meta

/Assets/zzzTemp/*
!/Assets/zzzTemp/.gitkeep

/Assets/_Overcraft/zzzTemp/*
!/Assets/_Overcraft/zzzTemp/.gitkeep

/MemoryCaptures/

/BuildReports/

.vscode/
.vs/

*.csproj
*.sln
*.suo
*.tmp
*.userprefs
*.app
.idea/
*.VC.*
.DS_Store
*~
*.swp

*.log
*.pyc

# Switch
SwitchIL2CPPCache/
SwitchIL2CPPStats/

# Capture
Capture/*
!Capture/.gitkeep

Save/*

# pv sceneは別リポジトリ
/Assets/_Overcraft/ex_OC_PV_only/
/Assets/_Overcraft/ex_OC_PV_only.meta
/Assets/_Overcraft/ex_OC_PV_only2/
/Assets/_Overcraft/ex_OC_PV_only2.meta
